.workers-list {
    background: #e1e4e5;
    border: 4px #33bee3 solid;
    border-radius: 20px;

    padding: 25px;
    height: 815px;
    width: 800px;
    user-select: none;
}

.workers-list > div:first-child {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
    height: 30px;
}

.workers-list > div:last-child {
    margin-top: 20px;
    height: 30px;
    display: flex;
    justify-content: flex-end;
}   

.workers-list-static {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    height: 40px;
    width: 760px;
    border-radius: 5px 5px 0 0;
    background: #2c96b3;
    padding: 0 15px;
}


.workers-list-scrollable {
    overflow-x: hidden;
    overflow-y: auto;
    height: 670px;
}

.workers-list-scrollable::-webkit-scrollbar {
    width: 5px;
    background: #222222;
    border-radius: 15px;
}

.workers-list-scrollable::-webkit-scrollbar-thumb {
    background: linear-gradient(225.72deg, #61dafb 0%, #1dcbf9 100%);
    border-radius: 15px;
}

.workers-list-wrapper {
    min-height: 670px;
    width: 780px;
    padding: 0 5px;
    white-space: nowrap;
    background: #2c96b3;
    border-radius: 0 0 5px 5px;
}

.worker-elem {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
    width: 760px;
    background: linear-gradient(225.72deg, #c3cbdc 0%, #edf1f4 100%) 0% 0% / 300% 100%;
}

.worker-elem:not(:first-child) {
    margin-top: 5px;
}

.worker-elem-selected {
    background: linear-gradient(250.85deg, #61dafb 5.14%, #33bee3 52.26%, #61dafb 92.13%) 0% 0% / 300% 100%;
    animation: 5s ease 0s infinite normal none running selected;
}

.worker-elem-hovering:hover {
    animation: 2s ease 0s infinite normal none running selected;
}

.worker-elem-admin-score {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
}
.worker-elem-admin-score span {
    width: 35px;
}
.worker-elem select {
    /* background-color: #33bee3; */
    color: #222222;
    /* border: none; */
    cursor: pointer;
    text-align: center;
    padding: 7px;
    font-size: 16px;
    font-weight: 700;
    outline: none;
    border-radius: 5px;
}


.worker-score-default {
    border: 4px #303030 solid;
    /* background: linear-gradient(86.42deg, #303030 0%, #414141 100%); */
    /* color: #e1e4e5; */
    /* background-color: #303030; */
}

.worker-score-negative {
    border: 4px #C81212 solid;
    /* background: linear-gradient(86.42deg, #C81212 0%, #851717 100%); */
    /* color: #e1e4e5; */
    /* background-color: #C81212; */
}

.worker-score-zero {
    border: 4px #fdfd4b solid;
    /* background: linear-gradient(90deg, #fdfd4b, #ffd700); */
    /* background-color: #fdfd4b; */
}

.worker-score-positive-1 {
    border: 4px #4CC812 solid;
}

.worker-score-positive-2 {
    border: 4px #4AA715 solid;
}

.worker-score-positive-3 {
    border: 4px #478517 solid;
}