.login-panel {
    width: 410px;
    height: 425px;
    position: absolute;
    left: calc(50% - 240px);
    top: calc(50% - 230px);
    
}

.auth-panel-bg {
    background: linear-gradient(225.72deg, #c3cbdc 0%, #edf1f4 100%) 0% 0% / 300% 100%;
    border-radius: 10px;
    border: 5px #33bee3 solid; 
    animation: 5s ease 0s infinite normal none running selected;
    padding: 10px 35px 25px;
}

#register-panel {
    width: 410px;
    height: 505px;
    position: absolute;
    left: calc(50% - 240px);
    top: calc(50% - 270px);
    padding: 10px 35px 25px;
    background: #1f2324;
    border-radius: 10px;
    border: 5px #33bee3 solid; 
}

.auth-info-text {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    user-select: none;
}

.auth-input-block {
    display: flex;
    position: relative;
    justify-content: space-between;
    transition: 0.3s;
}

.auth-input-block:not(:first-child) {
    margin-top: 30px;
}

.auth-input-icon {
    width: 48px;
    height: 48px;
    border: 1px #2c96b3 solid;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-input-static {
    height: 50px;
    position: relative;
}

.auth-input-text {
    position: absolute;
    font-weight: 500;
    font-size: 14px;
    color: #2c96b3;
    top: -8px;
    left: 15px;
}

.auth-input-block input,
.register-profile-data input[type="date"] {
    position: absolute;
    left: 15px;
    height: 50px;
    width: 300px;
    padding: 0;
    background: none;
    border: 0px;
    font-weight: 400;
    font-size: 14px;
    color: #2c96b3;

}

.auth-input-block input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #2c96b3;
}

.auth-button {
    font-size: 18px;
    border-radius: 4px;
    width: 410px;
    height: 60px;
    position: absolute;
    bottom: 35px;
}

.register-profile .skill-page {
    width: 100%;
}


.register-profile-data {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 410px;
    height: 540px;
    padding: 20px;
    margin: 0 20px;
    border: 4px #33bee3 solid; 
}

.register-profile-data .auth-input-block,
.register-profile-data .auth-button {
    width: 380px;
}

.register-profile-data input[type="date"],
.register-profile-data select {
    height: 48px;
    border: 2px #2c96b3 solid;
    border-radius: 3px;
    width: 278px;
    position: unset;
    padding: 0 15px;
    cursor: text;
}

.register-profile-data select {
    cursor: pointer;
    font-size: 14px;
    width: 310px;
    color: #2c96b3;
    font-weight: 400;
    outline: none;
    background: none;
}

